{% extends "base.html" %}

{% block titulo %}
<title>Coderhouse 47780 - Profesores</title>
{% endblock titulo %}

{% block contenido %}
<h3>Profesores - Tutores inscritos</h3>
<a href="{% url 'crear_estudiante' %}">Crear profesor</a>


<table class="table">
  <tbody>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    {% for profesor in object_list %}
    <tr>
      <td>{{ profesor.id }}</td>
      <td>{{ profesor.nombre }}</td>
      <td>{{ profesor.apellido }}</td>
      <td>
        <a href="{% url 'ver_profesores' profesor.id %}">Ver</a>
      </td>
      <td>
        <a href="{% url 'editar_profesor' profesor.id %}">Editar</a>
      </td>
      <td>
        <a href="{% url 'eliminar_profesor' profesor.id %}">
          <i class="bi bi-trash"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock contenido %}